@font-face {
    font-family: 'intspiritlogo';
    src: url('intspirit_logo.woff2') format('woff2'),
         url('intspirit_logo.woff') format('woff'),
         url('intspirit_logo.ttf') format('truetype'),
         url('intspirit_logo.svg#intspiritlogo') format('svg');
    font-weight: normal;
    font-style: normal;

}